@font-face {
    font-family: "yeezy_tstar";
    src: url('fonts/yeezy_tstar-bold-webfont-webfont.eot');
    src: url('fonts/yeezy_tstar-bold-webfont-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/yeezy_tstar-bold-webfont-webfont.woff') format('woff'), url('fonts/yeezy_tstar-bold-webfont.ttf') format('truetype'), url('fonts/yeezy_tstar-bold-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
  background-color: #0E0B16;
}

h1.title {
  color: white;
  text-align: center;
  font-family: "yeezy_tstar";
  margin-bottom: 0em;
}
h4.subtitle {
  color: white;
  font-size: 14;
  text-align: center;
  margin-top: 0em;
  font-family: "yeezy_tstar";

}

ul {
  list-style: none;
  padding: 0;
  overflow: hidden;
  font-family: 'yeezy_tstar';
}

a {
  display: inline-flex;
  color: white;
  text-align: center;
  padding: 10 10;
  text-decoration: none;
  float: center;
  font-family: 'yeezy_tstar';
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  float: center;
  margin-bottom: 0em;

}

div.nav {
  display: inline;
}

p {
  display: inline;
  margin-left: 0em;
  margin-right: 0em;
  font-family: 'yeezy_tstar';
  color: white;
  font-size: 20;
}

p.footer {
  margin-top: 10em;
  text-align: center;
}

li a.selected {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

}

div.selected {
  background-color: #062F4F;
}

div.saturn {
  margin: 0 auto;
}

div.saturnOutter {
  width: 100%;
}

div.saturn {
  display: inline-block;
}

div.footer {
  margin-top: 100%;
  align-items: center;
}

div.navbar {
  text-align: center;
}

a.cite:link {
  font-style: normal;
  color: white;
  font-family: "yeezy_tstar";
  font-size: 12;
  float: center;
  text-decoration: none;
}

a.cite:hover {
  font-style: normal;
  color: white;
  font-family: "yeezy_tstar";
  font-size: 12;
  float: right;
  text-decoration: none;
}

a.cite:visited {
  font-style: normal;
  color: white;
  font-family: "yeezy_tstar";
  font-size: 12;
  float: right;
  text-decoration: none;
}

p.cite {
  color: white;
  font-family: "yeezy_tstar";
  font-size: 12;
  float: right;
}
